<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title 'PodR' %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% stylesheets '@DahlbergPodrBundle/Resources/public/css/foundation.min.css'
                   '@DahlbergPodrBundle/Resources/public/css/foundation-icons.css'
                   '@DahlbergPodrBundle/Resources/public/css/application.css'
                   filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts '@DahlbergPodrBundle/Resources/public/js/modernizr.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="{{ path('root') }}">PodR</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                {% if app.user %}
                <li class="has-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input type="text" placeholder="Find Stuff">
                        </div>
                        <div class="large-4 small-3 columns">
                            <a href="#" class="alert button expand">Search</a>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="#">{{ app.user.username }}</a>
                    <ul class="dropdown">
                        <li><a href="{{ path('account_logout') }}">Logout</a></li>
                    </ul>
                </li>
                <li><a id="player-toggle" class="radius button">Player</a></li>
                {% else %}
                <li><a href="{{ path('account_login') }}">Login</a></li>
                <li class="active"><a href="{{ path('account_register') }}">Register</a></li>
                {% endif %}
                <li><a href="#">0.4.0-dev</a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                {% if app.user %}
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('podcast_index') }}">Podcasst</a></li>
                <li><a href="{{ path('episode_index') }}">Episodes</a></li>
                {% endif %}
            </ul>
        </section>
    </nav>
    <div id="player">
        <div class="row">
            <i id="player-rewind" class="fi-rewind player-icon"></i>
            <i id="player-play-pause" class="fi-play player-icon"></i>
            <i id="player-stop" class="fi-stop player-icon"></i>
            <i id="player-fast-forward" class="fi-fast-forward player-icon"></i>
        </div>
    </div>

    <div id="page">
        {% block body %}{% endblock %}
    </div>

    {% javascripts  '@DahlbergPodrBundle/Resources/public/js/jquery.js'
                    '@DahlbergPodrBundle/Resources/public/js/foundation.min.js'
                    '@DahlbergPodrBundle/Resources/public/js/application.coffee'
                    '@DahlbergPodrBundle/Resources/public/js/player.coffee' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>