{# src/Dahlberg/PodrBundle/Resources/views/Playlist/details.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Playlists{% endblock %}

{% block body %}
    <div class="row">
        <nav class="breadcrumbs">
            <a href="{{ path('root') }}">Home</a>
            <a href="{{ path('playlist_index') }}">Home</a>
            <a class="current">{{ playlist.getTitle }}</a>
        </nav>
    </div>
    <div class="row playlist-details">
        <div class="large-3 columns">
            <h2>Podcasts</h2>
            {% if playlist.getPlaylistPodcasts %}
            <ul class="podcast-list">
                {% for playlistpodcast in playlist.getPlaylistPodcasts %}
                <li><a href="{{ path('podcast_details', {'id': playlistpodcast.podcast.getId}) }}">{{ playlistpodcast.podcast.getTitle }}</a>
                    <a href="{{ path('playlist_remove_podcast', {'playlistId': playlistpodcast.playlist.getId, 'podcastId': playlistpodcast.podcast.getId}) }}"><span class="label round secondary right">X</span></a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No podcasts found.</p>
            {% endif %}
        </div>
        <div class="large-9 columns">
        {% if playlist %}
            <h1><small id="playlist_id">#{{ playlist.getId }} </small> {{ playlist.getTitle }}</h1>

            <h2>Episodes</h2>
            {% if playlist.getPlaylistPodcasts %}
                <table class="podcast-table">
                    <thead>
                    <tr>
                        <th width="200"></th>
                        <th>Title</th>
                        <th width="130">Published Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for episode in episodes %}
                        <tr>
                            <td class="episode-image">
                                {% if episode.getItunesImage %}
                                    <a class="th round" href="{{ episode.getItunesImage }}">
                                        <img src="{{ episode.getItunesImage }}">
                                    </a>
                                {% elseif episode.getPodcast.getItunesImage %}
                                    <a class="th round" href="{{ episode.getPodcast.getItunesImage }}">
                                        <img src="{{ episode.getPodcast.getItunesImage }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td class="episode-info">
                                <div class="episode-title"><h4><a href="{{ path('episode_details', {'id': episode.getId}) }}">{{ episode.getTitle[:55] }}</a></h4></div>
                                <div class="podcast-title"><h5><a href="{{ path('podcast_details', {'id': episode.getPodcast.getId}) }}">{{ episode.getPodcast.getTitle[:80] }}</a></h5></div>
                                <div class="episode-description"><p>{% if episode.getItunesSubtitle %}{{ episode.getItunesSubtitle[:240] }}
                                        {% elseif episode.getItunesSummary %}{{ episode.getItunesSummary[:240] }}
                                        {% else %}-{% endif %}</p></div>
                            </td>
                            <td>{% if episode.getPublishedDate %}{{ episode.getPublishedDate|date('Y-m-d') }}{% else %}-{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No podcasts found.</p>
            {% endif %}

        {% else %}
            <h1>Playlist</h1>
            <p>The selected playlist doesn't exist.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}