{# src/Dahlberg/PodrBundle/Resources/views/Playlist/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Playlists{% endblock %}

{% block body %}
    <div class="row">
        <nav class="breadcrumbs">
            <a href="{{ path('root') }}">Home</a>
            <a class="current">Playlists</a>
        </nav>
    </div>
    <div class="row playlist-index">
        {% if playlists %}
        <div class="playlist-list">
            {% for playlist in playlists %}
            <div class="row">
                <div class="large-1 columns"><i class="fi-{{ playlist.getIcon }} icon-{{ playlist.getStyle }}"></i></div>
                <div class="large-11 columns">
                    <h2><a href="{{ path('playlist_details', {'id': playlist.getId}) }}">{{ playlist.getTitle }}</a></h2>
                    <!--<ul class="inline-list">
                        <li><a href=""></a></li>
                    </ul>-->
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No playlists found.</p>
        {% endif %}

        <h3>Add playlist</h3>
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.icon) }}
            {{ form_row(form.style) }}
            {{ form_errors(form) }}
            {% if formSuccess %}
                <div data-alert class="alert-box success radius">
                    {{ formSuccess }}
                </div>
            {% endif %}
            <div>
                {{ form_widget(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}