{# src/Dahlberg/PodrBundle/Resources/views/Podcast/details.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | {{ podcast.getTitle }}{% endblock %}

{% block body %}
    <div class="row">
        <nav class="breadcrumbs">
            <a href="{{ path('root') }}">Home</a>
            <a href="{{ path('podcast_index') }}">Podcasts</a>
            <a class="current">{{ podcast.getTitle }}</a>
        </nav>
    </div>
    <div class="row podcast-details">
        <div class="large-4 columns">
            {% if podcast.getItunesImage %}
            <a class="th radius" href="{{ podcast.getItunesImage }}">
                <img src="{{ podcast.getItunesImage }}">
            </a>
            {% endif %}
            <div class="row">
                <div class="large-11 large-centered columns">
                    <ul class="button-group round">
                        {% if userPodcast and userPodcast.getFollowing %}
                            <li><a href="#" class="button tiny alert">Unfollow</a></li>
                        {% else %}
                            <li><a href="#" class="button tiny success">Follow</a></li>
                        {% endif %}

                        <li><a href="#" class="button tiny secondary">Like</a></li>
                        <li><a href="#" class="button tiny disabled secondary">Dislike</a></li>

                        {% if userPodcast and userPodcast.getStarred %}
                            <li><a href="#" class="button tiny alert">Unstar</a></li>
                        {% else %}
                            <li><a href="#" class="button tiny success">Star</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <h3>Podcast information</h3>
            <p>Last updated: {{ podcast.getDateUpdated|date('Y-m-d') }}</p>
            <p>Language: {{ podcast.getLanguage }}</p>
            {% if podcast.getItunesExplicit %}
            <p>Parental Advisory</p>
            {% endif %}
            <h3>Owner</h3>
            <p><a href="mailto:{{ podcast.getItunesOwnerEmail }}">{{ podcast.getItunesOwnerName }}</a></p>
            <p>&copy; {{ podcast.getCopyright }}</p>
            <h5>Links</h5>
            <p><a href="{{ podcast.getLink }}">Website</a></p>
        </div>
        <div class="large-8 columns">
            <h1>{{ podcast.getTitle }}</h1>
            <h4>{{ podcast.getItunesAuthor }}</h4>

            {% if podcast.getItunesComplete %}
            <div data-alert class="alert-box warning radius">
                This podcast is discontinued
            </div>
            {% endif %}

            <div class="panel">
                <h5>Description</h5>
                {% if podcast.getItunesSummary %}
                <p>{{ podcast.getItunesSummary }}</p>
                {% elseif podcast.getItunesSubtitle %}
                <p>{{ podcast.getItunesSubtitle }}</p>
                {% else %}
                <p>No description available</p>
                {% endif %}
            </div>

            <a href="{{ path('podcast_update', {'id': podcast.getId}) }}" class="button tiny round right secondary">Update</a>
            <h3>Episodes</h3>
            {% if podcast.getEpisodes.isEmpty %}
            <div data-alert class="alert-box info radius">
                There are no episodes
            </div>
            {% else %}
            <table class="large-12">
                <thead>
                <tr>
                    <th>Title</th>
                    <th width="100">Published</th>
                </tr>
                </thead>
                <tbody>
                {% for episode in podcast.getEpisodes %}
                    <tr>
                        <td><a href="{{ path('episode_details', {'id': episode.getId}) }}">{{ episode.getTitle }}</a></td>
                        <td>{% if episode.getPublishedDate %}{{ episode.getPublishedDate|date('Y-m-d') }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}