{# src/Dahlberg/PodrBundle/Resources/views/Podcast/index.html.twig #}
{% extends '::base.html.twig' %}
{% form_theme form '::form.html.twig' %}

{% block title %}{{ parent() }} | Podcasts{% endblock %}

{% block body %}
    <div class="row">
        <h2>Podcasts</h2>

        {% if podcasts %}
        <table>
            <thead>
                <tr>
                    <th width="200">Title</th>
                    <th width="150">Last Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for podcast in podcasts %}
                <tr>
                    <td>{{ podcast.getTitle }}</td>
                    <td>1970-01-01*</td>
                    <td>*</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No podcasts found.</p>
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form.feedurl) }}
            {{ form_errors(form) }}
            {% if formSuccess %}
                <div data-alert class="alert-box success radius">
                    {{ formSuccess }}
                </div>
            {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}