{# src/Dahlberg/PodrBundle/Resources/views/Podcast/index.html.twig #}
{% extends '::base.html.twig' %}
{% form_theme form '::form.html.twig' %}

{% block title %}{{ parent() }} | Podcasts{% endblock %}

{% block body %}
    <div class="row">
        <nav class="breadcrumbs">
            <a href="{{ path('root') }}">Home</a>
            <a class="current">Podcasts</a>
        </nav>
    </div>
    <div class="row">
        <h2>Podcasts</h2>

        {% if podcasts %}
        <table class="podcast-table">
            <thead>
                <tr>
                    <th width="200"></th>
                    <th>Title</th>
                    <th width="150">Last Updated</th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                {% for podcast in podcasts %}
                <tr>
                    <td>
                        {% if podcast.getItunesImage %}
                        <a class="th round" href="{{ podcast.getItunesImage }}">
                            <img src="{{ podcast.getItunesImage }}">
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="podcast-title"><h4><a href="{{ path('podcast_details', {'id': podcast.getId}) }}">{% if podcast.getTitle %}{{ podcast.getTitle }}{% else %}Unknown title{% endif %}</a></h4></div>
                        <div class="podcast-description"><p>{{ podcast.getDescription[:240] }}</p></div>
                    </td>
                    <td>{% if podcast.getDateUpdated %}{{ podcast.getDateUpdated|date('Y-m-d') }}{% else %}-{% endif %}</td>
                    <td><a href="{{ path('podcast_update', {'id': podcast.getId}) }}" class="button tiny round">Update</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No podcasts found.</p>
        {% endif %}

        <h3>Import Podcast</h3>
        {{ form_start(form) }}
            {{ form_row(form.feedurl) }}
            {{ form_errors(form) }}
            {% if formSuccess %}
                <div data-alert class="alert-box success radius">
                    {{ formSuccess }}
                </div>
            {% endif %}
            <div>
                {{ form_widget(form.add) }}
                <a href="{{ path('podcast_import') }}" class="button radius">Import</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}