{# src/Dahlberg/PodrBundle/Resources/views/Podcast/index.html.twig #}
{% extends '::base.html.twig' %}
{% form_theme form '::form.html.twig' %}

{% block title %}{{ parent() }} | Podcasts{% endblock %}

{% block body %}
    <div class="row">
        <nav class="breadcrumbs">
            <a href="{{ path('root') }}">Home</a>
            <a class="current">Podcasts</a>
        </nav>
    </div>
    <div class="row">
        <h2>Podcasts</h2>

        {% if podcasts %}
        <table>
            <thead>
                <tr>
                    <th width="200">Title</th>
                    <th width="150">Last Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for podcast in podcasts %}
                <tr>
                    <td><a href="{{ path('podcast_details', {'id': podcast.getId}) }}">{{ podcast.getTitle }}</a></td>
                    <td>{% if podcast.getDateUpdated %}{{ podcast.getDateUpdated|date('Y-m-d') }}{% else %}-{% endif %}</td>
                    <td><a href="{{ path('podcast_update', {'id': podcast.getId}) }}" class="button tiny round">Update</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No podcasts found.</p>
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form.feedurl) }}
            {{ form_errors(form) }}
            {% if formSuccess %}
                <div data-alert class="alert-box success radius">
                    {{ formSuccess }}
                </div>
            {% endif %}
            <div>
                {{ form_widget(form.save) }}
                <a href="{{ path('podcast_import') }}" class="button radius">Import</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}