{# src/Dahlberg/PodrBundle/Resources/views/Default/dashboard.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Dashboard{% endblock %}

{% block body %}
    <div class="row">
        <nav class="breadcrumbs">
            <a href="{{ path('root') }}">Home</a>
            <a class="current">Dashboard</a>
        </nav>
    </div>
    <div class="row">
        <h2>Dashboard</h2>

        <div class="row">
            <div class="large-6 columns">
                <h4>Most liked Podcasts</h4>
                {% if mostLikedPodcasts %}
                <table class="large-12">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th width="100">Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for podcast in mostLikedPodcasts %}
                        <tr>
                            <td><a href="{{ path('podcast_details', {'id': podcast.getId}) }}">{{ podcast.getTitle }}</a></td>
                            <td>{{ podcast.getCount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No podcasts found.</p>
                {% endif %}
            </div>
            <div class="large-6 columns">
                <h4>Started Episodes</h4>
                {% if startedEpisodes %}
                    <table class="large-12">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th width="100">Current Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for userepisode in startedEpisodes %}
                            <tr>
                                <td><a href="{{ path('episode_details', {'id': userepisode.episode.getId}) }}">{{ userepisode.episode.getTitle }}</a></td>
                                <td>{{ userepisode.getCurrentPosition|secondsToTime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No episodes found.</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <h4>Most unarchived Podcasts</h4>
                {% if mostUnarchivedPodcasts %}
                <table class="large-12">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th width="100">Unarchived</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for podcast in mostUnarchivedPodcasts %}
                        <tr>
                            <td><a href="{{ path('podcast_details', {'id': podcast.getId}) }}">{{ podcast.getTitle }}</a></td>
                            <td>{{ podcast.getCount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No podcasts found.</p>
                {% endif %}
            </div>
            <div class="large-6 columns">
                <h4>Oldest unarchived Episodes</h4>
                {% if oldestUnarchivedEpisodes %}
                    <table class="large-12">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th width="100">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for episode in oldestUnarchivedEpisodes %}
                            <tr>
                                <td><a href="{{ path('episode_details', {'id': episode.getId}) }}">{{ episode.getTitle }}</a></td>
                                <td>{% if episode.getPublishedDate %}{{ episode.getPublishedDate|date('Y-m-d') }}{% else %}-{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No episodes found.</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <h4>Most unread Podcasts</h4>
                {% if mostUnreadPodcasts %}
                    <table class="large-12">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th width="100">Unread</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for podcast in mostUnreadPodcasts %}
                            <tr>
                                <td><a href="{{ path('podcast_details', {'id': podcast.getId}) }}">{{ podcast.getTitle }}</a></td>
                                <td>{{ podcast.getCount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No podcasts found.</p>
                {% endif %}
            </div>
            <div class="large-6 columns">
                <h4>Last unread Episodes</h4>
                {% if latestUnreadEpisodes %}
                    <table class="large-12">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th width="100">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for episode in latestUnreadEpisodes %}
                            <tr>
                                <td><a href="{{ path('episode_details', {'id': episode.getId}) }}">{{ episode.getTitle }}</a></td>
                                <td>{% if episode.getPublishedDate %}{{ episode.getPublishedDate|date('Y-m-d') }}{% else %}-{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No episodes found.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}